<html>
<head><title>List of items</title></head>
<body>
<center>
<font face="Comic Sans MS" size="4" color="maroon">ITEMS LIST</font>
</center>
<br>
<table border="0" align="center">
<font face="Comic Sans MS" size="3" color="blue">
<tr>
	<th>1.</th>
	<th align="left">Bath tubs</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
	<th>7.</th>
	<th align="left">Bituminous Paints</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
</tr>
<tr>
	<th>2.</th>
	<th align="left">Battery Charger</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
	<th>8.</th>
	<th align="left">Blotting Paper</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
</tr>
<tr>
	<th>3.</th>
	<th align="left">Battery Eliminator</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
	<th>9.</th>
	<th align="left">Bolts & Nuts</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
</tr>
<tr>
	<th>4.</th>
	<th align="left">Beam Scales (upto 1.5 tones)</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
	<th>10.</th>
	<th align="left">Bolts Sliding</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
</tr>
<tr>
	<th>5.</th>
	<th align="left">Belt Leather & straps</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
	<th>11.</th>
	<th align="left">Bone Meal</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
</tr>
<tr>
	<th>6.</th>
	<th align="left">Brass Wire</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
	<th>12.</th>
	<th align="left">Boot Polish</th>
	<th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
</tr>
</font>
</table>
</body>
</html>